.container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nameAluno{
    display: flex;
    height: 15px;
    align-items: center;
}

.fNote{
    display: flex;
    height: 15px;
    align-items: center;
}

.sNote{
    display: flex;
    height: 15px;
    align-items: center;
}

.button{
    width: 250px;
}